[user]
	name = "Javed Khan"
	email = "<javed@agiliq.com>"
[core]
	excludesfile = ~/.gitignore
[color]
	ui = auto
[push]
	default = tracking
[alias]
    a = add
    b = branch
    co = checkout
    ci = commit
    d = diff --word-diff
    f = stash save
    l = log --graph --pretty=oneline --abbrev-commit --decorate --since=1.days
    p = push
    st = status -sb
    up = pull
